/* ============================= Product video slider Css Start ========================== */
.swiper_container {
    height: 52rem;
    padding: 2rem 0;
    position: relative;

    @media (max-width: 500px) {
        height: 47rem;
    }

    .slider-controler {
        position: relative;
        bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .slider-arrow {
            background: var(--white);
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            left: 42%;
            transform: translateX(-42%);
            filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));

            ion-icon {
                font-size: 2rem;
                color: #222224;
            }

            &::after {
                content: '';
            }
        }

        .swiper-button-next {
            left: 58% !important;
            transform: translateX(-58%) !important;

            @media (max-width: 990px) {
                left: 70% !important;
                transform: translateX(-70%) !important;
            }

            @media (max-width: 450px) {
                left: 80% !important;
                transform: translateX(-80%) !important;
            }
        }

        .swiper-button-prev {
            @media (max-width: 990px) {
                left: 30% !important;
                transform: translateX(-30%) !important;
            }

            @media (max-width: 450px) {
                left: 20% !important;
                transform: translateX(-20%) !important;
            }
        }
    }
}

.swiper-slide {
    width: 37rem;
    height: 42rem;
    position: relative;

    img {
        width: 37rem;
        height: 42rem;
        border-radius: 2rem;
        object-fit: cover;
    }

    @media (max-width: 500px) {
        width: 28rem !important;
        height: 36rem !important;

        img {
            width: 28rem !important;
            height: 36rem !important;
        }
    }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}



.swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;

    .swiper-pagination-bullet {
        filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    }

    .swiper-pagination-bullet-active {
        background: var(--primary);
    }
}




/* ============================= Product video slider Css Start ========================== */